header {
    background: #074263;
    background: linear-gradient(90deg, #074263 0%, #e3e6e7 100%);
    min-height: 90px;
    padding: 0;
    cursor: pointer;
}

header .col:first-child {
    padding-top: 12px;
}

header h1 {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    height: 64px;
    color: #e3e6e7;
    text-shadow: 3px 3px 2px rgba(71,71,71,0.75);
    font-size: 2rem;
    margin-left: 50px;
    padding-left: 73px;
    padding-top: 12px;
}

header img {
    position: absolute;
    top: 7px;
    right: 40px;
    max-height: 75px;
}

div.noscript-message {
    background-image: url(../img/warning.png);
    background-repeat: no-repeat;
    height: 64px;
    padding-left: 80px;
    padding-top: 25px;
}

#message-area .alert p {
    margin: 0;
}

#user-area {
    text-align: right;
    padding-right: 0;
}

#user-area i.fas {
    margin-right: 5px;
}

#user-area button.btn-warning {
    margin-left: 15px;
}

.custom-file-input ~ .custom-file-label:lang(fr)::after {
    content: "Choisir un document...";
}

a.btn-secondary {
    color: #ffffff!important;
}

.btn-primary, .btn-secondary, .btn-danger, #results-area ul.list-group > li.list-group-item {
    cursor: pointer;
}

.btn-secondary.float-right {
    margin-left: 10px;
}

#results-area ul.list-group, #admin-results-area ul.list-group {
    margin-top: 20px!important;
}

#results-area ul.list-group > li div.collapse, #results-area ul.list-group > li div.collapsing {
    margin-top: 15px!important;
    font-size: 0.95rem;
    color: #383838;
}

#admin-results-area ul.list-group > li {
    padding: 0;
}

#admin-results-area ul.list-group > li span.date {
    position: absolute;
    top: 6px!important;
    right: 45px!important;
}

#admin-results-area ul.list-group > li i.fa-times {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 26px;
    color: #d00707;
}

#admin-results-area ul.list-group > li a {
    margin-left: 5px;
}

#admin-results-area span.permalink {
    width: 250px;
    font-size: 11pt;
    margin-left: 35px;
}

#admin-results-area .form-check {
    margin: 15px 0 0 -10px;
}

#admin-results-area .form-check label {
    margin-left: 10px;
}

#admin-results-area #select-all-document {
    cursor: pointer;
}

#admin-results-area input.select-document {
    cursor: pointer;
    float: left;
    margin: 10px;
}

#admin-results-area .document-link {
    margin-left: 30px;
}

#admin-results-area span.title {
    height: 30px;
    margin: 3px 0 0 0;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-dialog {
    max-width: 800px;
}

nav {
    position: relative;
    margin-top: 25px;
}

nav .fas {
    position: absolute;
    top: 17px;
    right: 15px;
}

.document-header span.title::first-letter {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}

.document-header span.title {
    text-transform: lowercase;
    position: absolute;
    top: 7px;
    left: 50px;
    height: 27px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.document-header span.date {
    position: absolute;
    top: 12px;
    right: 20px;
}

#results-area li.list-group-item iframe {
    border: 1px solid black;
    height: 100%;
    margin-left: 20px;
}

#results-area li.list-group-item ul {
    list-style-type: none;
    margin-left: -40px;
}

a.mime, span.mime {
    background-repeat: no-repeat;
    background-size: 30px;
    padding: 4px 0 4px 40px;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

span.address {
    display: block;
    margin-top: 15px;
    font-style: italic;
    font-size: 0.75rem;
}

span.online-date {
    display: block;
    margin-top: 8px;
    font-style: normal;
    font-size: 0.73rem;
}

@media screen and (max-width:1024px) {
	.document-header span.title { width: 60%!important; }
}
@media screen and (max-width:950px) {
    header img { display: none; }
}
@media screen and (max-width:880px) {
    header h1 { background-image: none; margin-left: 25px; padding-left: 0; }
}
@media screen and (max-width:770px){
    #results-area li.list-group-item iframe { display: none; }
    header h1 span { display: none; }
}

div.pdf-display {
   max-width: 300px;
   max-height: 220px;
   overflow-y: scroll;
   overflow-x: hidden;
   border: 1px solid rgba(0,0,0,.125)
}

div.pdf-display .spinner-border{
    margin: 6rem!important;
}

div.pdf-display .message {
    width: 300px;
    height: 220px;
    line-height: 220px;
}

div.pdf-display canvas {
    margin-left: -20px;
    max-width: 340px;
}

ul#documents {
    list-style-type: none;
    margin-left: -30px;
}

ul#documents > li.folder {
    margin: -7px -5px -5px -5px;
}

ul#documents > li.file {
    margin: -5px;
}

.mime.folder {
    background-image: url(../img/folder.png);
    background-size: 40px;
    padding: 6px 0 6px 40px;
}

.mime.pdf {
    background-image: url(../img/mime_pdf.png);
}

.mime.doc {
    background-image: url(../img/mime_doc.png);
}

.mime.docx {
    background-image: url(../img/mime_docx.png);
}

.mime.html {
    background-image: url(../img/mime_html.png);
}

.mime.odg {
    background-image: url(../img/mime_odg.png);
}

.mime.odp {
    background-image: url(../img/mime_odp.png);
}

.mime.ods {
    background-image: url(../img/mime_ods.png);
}

.mime.odt {
    background-image: url(../img/mime_odt.png);
}

.mime.ppt {
    background-image: url(../img/mime_ppt.png);
}

.mime.pptx {
    background-image: url(../img/mime_pptx.png);
}

.mime.txt {
    background-image: url(../img/mime_txt.png);
}

.mime.xls {
    background-image: url(../img/mime_xls.png);
}

.mime.xlsx {
    background-image: url(../img/mime_xlsx.png);
}

.mime.vsd {
    background-image: url(../img/mime_vsd.png);
}

.mime.rtf {
    background-image: url(../img/mime_rtf.png);
}

.mime.xml {
    background-image: url(../img/mime_xml.png);
}

.mime.csv {
    background-image: url(../img/mime_csv.png);
}

.mime.json {
    background-image: url(../img/mime_json.png);
}

.mime.audio {
    background-image: url(../img/file_audio.png);
}

.mime.video {
    background-image: url(../img/file_video.png);
}

.mime.image {
    background-image: url(../img/file_image.png);
}

.mime.base {
    background-image: url(../img/file_base.png);
}

.dm-uploader {
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: .2rem;
}

.dm-uploader img {
    width: 90px;
}

.card {
    border: 1px solid #ced4da;
}

.card .card-header {
    padding: .40rem 0.75rem;
}

.card #files li.media {
    font-size: 13px;
}

.card #files li.media i.fas {
    float: right;
    cursor: pointer;
    font-size: 18px;
    color: #d00707;
}

span.permalink {
    cursor: pointer;
    font-style: italic;
    display: block;
    margin: 0px 5px 10px;
    width: 250px;
}

h3.dropzone {
    display: block;
    margin: auto;
    background-image: url(../img/dropzonim.jpg);
    background-repeat: no-repeat;
    background-size: 90px;
    height: 90px;
    text-align: left;
    padding: 30px 0 0 100px;
}