{% extends 'base.html' %}

{% block content %}
{% autoescape false %}
    <header class="d-none row">
        <div class="col col-6 title"><h1>Administration - Donn&eacute;es citoyennes</h1></div>
        <div class="col col-6 logo"><img src="" title="" class="d-none" /></div>
    </header>
    <main class="col col-12 bd-content mx-auto mt-3" role="main">
        <div id="user-area" class="container">
            <form id="deconnection-form" action="action/logout" method="post">
                <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
                <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
                <span><i class="fas fa-user-shield"></i>
                    {% if user.firstname is not empty %}{{ user.firstname }}&nbsp;{% endif %}{{ user.lastname }} - {{ user.email }}
                </span>
                <input type="hidden" name="action" value="logout" />
                <button type="submit" class="btn btn-sm btn-warning"><i class="fas fa-sign-out-alt"></i> D&eacute;connexion</button>
            </form>
            <hr />
        </div>
        <div id="message-area" class="container mt-3">
            <div class="alert alert-dismissible fade d-none" role="alert">
                <button type="button" class="close" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="message"></span>
            </div>
        </div>
        <div id="collapse-area" class="container">

            {% include 'message.html' %}

            <div id="admin-search-area" class="collapse show" data-parent="#collapse-area">   
                <a class="btn btn-sm btn-secondary mb-3" data-toggle="collapse" data-target="#admin-add-document-area" aria-expanded="true" aria-controls="admin-add-document-area" title="Ajouter un document"><i class="fas fa-plus-circle"></i> Ajouter un document</a>
                {% if user.rank.value == ranks['ADMIN'] %}
                    <button class="btn btn-danger btn-sm mb-3 white" data-toggle="collapse" data-target="#admin-form-purge-area" aria-expanded="true" aria-controls="admin-form-purge-area" title="Formulaire de purge">Formulaire de purge <i class="fas fa-backspace"></i></button>
                {% endif %}
                <form id="admin-search-form">
                    <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
                    <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
                    <input type="hidden" name="current" value="1" />
                    <input type="hidden" name="offset" value="0" />
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="filename">Nom du fichier</label>
                            <input type="text" name="filename" class="form-control form-control-sm" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="date">Date du document</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button title="Effacer" class="btn btn-sm btn-outline-secondary erase-date" type="button"><i class="fas fa-eraser"></i></button>
                                </div>
                                <input type="date" name="date" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label>&nbsp;</label>
                            <button class="form-control form-control-sm btn btn-sm btn-primary" role="button" aria-pressed="true"><i class="fas fa-search"></i> Rechercher</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="admin-add-document-area" class="collapse" data-parent="#collapse-area">
                <a class="btn btn-sm btn-secondary mb-3" data-toggle="collapse" data-target="#admin-search-area" aria-expanded="true" aria-controls="admin-search-area" title="Rechercher un document"><i class="fas fa-search"></i> Rechercher un document</a>
                <form method="post" id="upload-form" enctype="multipart/form-data" class="needs-validation" novalidate>
                    <input type="hidden" id="csrf_name" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
                    <input type="hidden" id="csrf_value" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
                    <div class="row">
                        <div class="col-9">
                            <div class="form-group">
                                <label for="category">Cat&eacute;gorie</label>
                                <select class="form-control form-control-sm" id="category" name="category" required>
                                    <option></option>
                                    <option value="0">Actes administratifs</option>
                                    <option value="1">Commande publique</option>
                                    <option value="2">Urbanisme</option>
                                    <option value="3">Domaine et patrimoine</option>
                                    <option value="4">Finances locales</option>
                                    <option value="5">Autres domaines de comp&eacute;tences</option>
                                </select>
                                <div class="invalid-feedback text-left">Veuillez saisir une cat&eacute;gorie.</div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="date">Date du document</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button title="Effacer" class="btn btn-sm btn-outline-secondary erase-date" type="button"><i class="fas fa-eraser"></i></button>
                                    </div>
                                    <input type="date" id="date" name="date" value="{{ 'now'|date('Y-m-d') }}" class="form-control form-control-sm" required />
                                </div>
                                <div class="invalid-feedback text-left">Veuillez saisir une date.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <div id="drag-and-drop-zone" class="dm-uploader p-2">
                                <h3 class="text-muted dropzone w-50">Glissez/d&eacute;poser vos fichiers ici...</h3>
                                <div class="btn btn-sm btn-secondary btn-block mb-3">
                                    <span>... ou s&eacute;lectionner vos fichiers</span>
                                    <input type="file" title='Parcourir' />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="card h-100">
                                <div class="card-header">
                                    Liste des fichiers
                                </div>
                                <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                                    <li class="text-muted text-center empty">Aucun fichier t&eacute;l&eacute;charg&eacute;.</li>
                                </ul>
                            </div>
                        </div>
                        <script type="text/html" id="files-template">
                            <li class="media">
                                <div class="media-body mb-1">
                                    <p class="mb-2"><i class="fas fa-times"></i><strong>%%filename%%</strong> - Statut : <span class="text-muted" title="Supprimer">En attente</span></p>
                                    <div class="progress mb-2">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" 
                                            role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description du document</label>
                                        <textarea class="form-control form-control-sm" name="description" rows="2" required></textarea>
                                        <div class="invalid-feedback text-left">Veuillez saisir une description pour ce document.</div>
                                    </div>
                                    <hr class="mt-1 mb-1" />
                                </div>
                            </li>
                        </script>
                    </div>
                    <button id="publish" class="btn btn-sm btn-primary mb-3" role="button" aria-pressed="true"><i class="fas fa-cloud-upload-alt"></i> Publier</button>
                    <button id="cancel" class="btn btn-sm btn-secondary ml-3 mb-3" role="button" aria-pressed="true"><i class="fas fa-ban"></i> Annuler</button>
                </form>
            </div>

            {% if user.rank.value == ranks['ADMIN'] %}
                <div id="admin-form-purge-area" class="collapse" data-parent="#collapse-area">
                    <a class="btn btn-sm btn-secondary mb-3" data-toggle="collapse" data-target="#admin-search-area" aria-expanded="true" aria-controls="admin-search-area" title="Rechercher un document"><i class="fas fa-search"></i> Rechercher un document</a>
                    <form method="POST" action="/action/admin-purge">
                        <input type="hidden" id="csrf_name" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
                        <input type="hidden" id="csrf_value" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
                        <input type="hidden" name="total" value="" />
                        <input type="hidden" id="sirenForPurge" name="siren" value="" />
                        <div class="form-row">
                            <div class="form-group col-md-9">
                                <label for="category-document">Cat&eacute;gorie de documents</label>
                                <select id="category-document" class="form-control form-control-sm" name="origin">
                                    <option value="">Sélectionnez la catégorie de document</option>
                                    {% for key, origin in origins %}
                                        <option value="{{ key|lower }}">{{ origin }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label>&nbsp;</label>
                                <button class="form-control form-control-sm btn btn-sm btn-danger" role="button" aria-pressed="true"><i class="fas fa-eraser"></i> Purger</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
            
        </div>

        <div id="loading-area" class="container text-center d-none">
            <div class="spinner-border m-5" role="status">
                <span class="sr-only">Chargement, veuillez patienter...</span>
            </div>
        </div>
        <div id="admin-results-area" class="container copy-link"> 
            <hr />
            <div class="btn btn-sm btn-success" id="nb-results">
                Nombre de r&eacute;sultat(s) <span class="badge badge-light ml-3"></span>
            </div>
            <div class="btn btn-sm btn-danger float-right d-none" id="delete-documents">
                <i class="fas fa-trash-alt"></i> Supprimer
            </div>
            <br />
            <div class="form-check" class="d-none">
                <input type="checkbox" id="select-all-document" />
                <label class="form-check-label">
                    S&eacute;lectionner / d&eacute;s&eacute;lectionner
                </label>
            </div>
            <ul class="list-group list-group-flush mt-2">
            </ul>
            <nav aria-label="Navigation r&eacute;sultats de la recherche">
                <ul class="pagination pagination-sm justify-content-center mt-2"></ul>
            </nav>
        </div>
        <div class="modal fade" id="delete-document" tabindex="-1" role="dialog" aria-labelledby=".modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation de suppression d'un document</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="delete-document-form">
                        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
                        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
                        <input type="hidden" name="documentId" class="document-id" value="" />
                        <input type="hidden" name="documentUrl" class="document-url" value="" />
                        <div class="modal-body">
                            Vous &ecirc;tes sur le point de supprimer le document <span class="text"></span>.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fas fa-ban"></i> Annuler</button>
                            <button type="button" class="btn btn-sm btn-primary"><i class="fas fa-trash"></i> Supprimer</button>
                        </div>
                        <div class="modal-loading container text-center d-none">
                            <div class="spinner-border m-5" role="status">
                                <span class="sr-only">Suppression, veuillez patienter...</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delete-multiple-documents" tabindex="-1" role="dialog" aria-labelledby=".modal-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation de suppression de document(s)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="delete-multiple-documents-form">
                        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
                        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
                        <div class="modal-body">
                            Vous &ecirc;tes sur le point de supprimer le(s) document(s) suivant(s) :<br /><span class="text"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fas fa-ban"></i> Annuler</button>
                            <button type="button" class="btn btn-sm btn-primary"><i class="fas fa-trash"></i> Supprimer</button>
                        </div>
                        <div class="modal-loading container text-center d-none">
                            <div class="spinner-border m-5" role="status">
                                <span class="sr-only">Suppression, veuillez patienter...</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endautoescape %}
{% endblock %}

{% block script %}
{% autoescape false %}
        <script type="text/javascript" src="/resources/javascript/uploader/js/jquery.dm-uploader.min.js"></script>
        <script type="text/javascript" src="/resources/javascript/admin.min.js"></script>
{% endautoescape %}
{% endblock %}