{% autoescape false %}
<!doctype html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="language" content="FR" />
        <meta name="description" content="Interface de recherche de documents publics." />
        <meta name="author" content="{{ adminName }}, {{ adminEmail }}">
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
        <meta name="referrer" content="origin" />
        <title>Donn&eacute;es citoyennes</title>
        <link href="/resources/img/girnum.ico" rel="icon" type="image/png" sizes="96x96" />
        <link href="/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
        <link href="/resources/javascript/uploader/css/jquery.dm-uploader.min.css" rel="stylesheet" crossorigin="anonymous" />
        <link href="/resources/css/style.min.css" rel="stylesheet" />
    </head>
    <body>

    {% block content %}{% endblock %}

    <noscript>
        <style type="text/css">
            main{ display: none; }
        </style>
        <div class="noscript-message">
            Veuillez activer JavaScript dans les pr&eacute;f&eacute;rences de votre navigateur pour acc&egrave;der &agrave; cette page...
        </div>
    </noscript>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://kit.fontawesome.com/5c4b02fe06.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/resources/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/resources/javascript/properties.js"></script>
    <script type="text/javascript" src="/resources/javascript/main.min.js"></script>

    {% block script %}{% endblock %}
    
    </body>
</html>
{% endautoescape %}