{% extends 'base.html' %}

{% block content %}

{% autoescape false %}
<header class="d-none row">
    <div class="col col-6 title"><h1>Administration - Donn&eacute;es citoyennes</h1></div>
    <div class="col col-6 logo"><img src="" title="" class="d-none" /></div>
</header>
<main class="col col-4 bd-content mx-auto mt-3" role="main">
    <div class="container text-center">
        <h3 class="mt-5 font-weight-normal">Veuillez vous authentifier...</h3>
        <form action="action/login" method="post" class="needs-validation" novalidate>
            <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}" />
            <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}" />
            <label for="email" class="sr-only">Adresse email</label>
            <input type="email" name="email" class="mt-4 form-control form-control-sm" placeholder="Adresse email" required autofocus="" />
            <div class="invalid-feedback text-left">Veuillez saisir une adresse email correcte.</div>
            <label for="password" class="sr-only">Mot de passe</label>
            <input type="password" name="password" class="mt-3 form-control form-control-sm" placeholder="Mot de passe" required />
            <div class="invalid-feedback text-left">Veuillez saisir votre mot de passe.</div>
            <button class="mt-4 btn btn-sm btn-primary" type="submit"><i class="fas fa-sign-in-alt"></i> Connexion</button>
        </form>
        <br />
        {% include 'message.html' %}
    </div>
</main>
{% endautoescape %}
{% endblock %}